$theme-colors: (
  "primary":    #0B9EF9,
  "secondary":  #FF775F,
  "success":    #83C489,
  "danger":     #DA3F2F,
  "info":       #1AC1D3,  
  "warning":    #F2C36D,
  "light":      #B6B6B6,
  "dark":       #363636
);


$font-family-base: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-monospace: Roboto-mono, Monaco, Consolas, monospace;

/* all bootstrap variables to be loaded in the end */
@import "node_modules/bootstrap/scss/bootstrap";